{% extends "layout.html" %}

{% block title %}
    Nota
{% endblock %}

{% block body %}
    <h1>Nota Details</h1>

    <ul>
        <li>numero : {{ nota.numero }}</li>
        <li>pregao : {{ nota.pregao}}</li>
        <li>financeiro : {{ nota.valor_operacoes}} </li>
    </ul>

    <h2>Trades</h2>
    <ul>
        {% for trade in trades %}
            <li>{{ trade.ativo}}, {{ trade.qtd}}, {{ trade.financeiro}}</li>
        {% else %}
            <li>No trades.</li>
        {% endfor %}
    </ul>

{% endblock %}