{% extends "layout.html" %}

{% block title %}
    TERASBYTE Systen
{% endblock %}

{% block body %}
    <h1>Add Trades</h1>

    <form action="{{ url_for('book') }}" method="post">
        <div class="form-row">

            <div class="col-md-3 mb-3">
                <select class="form-control" name="nota_id">
                    {% for nota in notas %}
                        <option value="{{ nota.id }}">{{ nota.numero }} dia {{ nota.pregao }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <input class="form-control" name="ativo" placeholder="Ativo">
            </div>
            <div class="col-md-3 mb-3">
                <input type=number step=100 class="form-control" name="qtd" placeholder="Quantidade">
            </div>
            <div class="col-md-3 mb-3">
                <input type=number step=0.01 class="form-control" name="financeiro" placeholder="Financeiro">
            </div>
            <div class="col-md-3 mb-3">
                <input type="checkbox"  name="daytrade" placeholder="Daytrade">
                <label>daytrade</label>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Guardar Trade</button>
        </div>

    </form>
{% endblock %}
